body {
    background-color: black;
    text-align: center;
}

header {
    font-family: Verdana;
    font-weight: normal;
    font-size: 50px;
    color: white;
}

.download_link {
    font-family: Verdana;
    color: aquamarine;
    font-size: 16px; 
}

.subtitle {
    font-family: Verdana;
    font-weight: 300;
    font-size: 42px;
    color: white;
}

.content{
    font-family: Verdana;
    font-size: 21px;
    color: gray;
}

footer {
    text-align: right;
    color: gray;
}